<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>团队具体01</title>

    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/prettyPhoto.css" rel="stylesheet"/>
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/responsive.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png"/>
</head>
<!--/head-->

<body>

    <header id="header">


        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" /></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="index">首页</a></li>
                      <li><a href="aboutus">关于我们</a></li>
                      <li><a href="service">服务</a></li>
                      <li><a href="project">项目</a></li>
                      <li><a href="team">团队</a></li>
                      <li><a href="activity">活动</a></li>
                      <li><a href="callme">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->


    <section id="blog" class="container">
        <div class="center">
            <h2>团队具体01</h2>
            <p class="lead">团队具体01简单说明</p>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 blog-content gai">
                                <h2>有爱心的吃货</h2>
                                <p>不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！
                                </p>

                                <p>不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！
                                </p>
                                <p>不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！
                                </p>
                                <p>不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！
                                </p>
                                <p>不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！不仅是美食嘉年华，这里的小动物们个个都小巧玲珑，精巧无比，看看这几只，好像有点相似，相似是肯定哒， 他们都是来自柴火管理员之手的“同一个妈生”系列，能不像吗！！
                                </p>

                                <div class="post-tags">
                                    <strong>Tag:</strong> <a href="#">Cool</a> / <a href="#">Creative</a> / <a href="#">Dubttstep</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                </div>
                <!--/.col-md-8-->
            </div>
            <!--/.row-->

        </div>
        <!--/.blog-->

    </section>
    <!--/#blog-->




    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div> -->
                    <div class="media-body">
                        <h2>版权所有：河北大学</h2>
                        <h3>地址：河北省保定市五四东路180号   邮编：071002   冀ICP备05007415号   保公备130603100019号</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>
